@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.swiper-container {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .bgUtama {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  padding-left: 3rem;
}
.swiper-button-next {
  padding-right: 3rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: gray !important;
  position: absolute !important;
  z-index: 9999 !important;
}
.swiper-pagination-bullet {
  background-color: #db0000 !important;
}
